<div class="jumbotron">
    Hello, <i>{{globals.customer.name}}</i>
    <h1 class="display-4">Wellcome to invoice parking system.</h1>
    <p>What you can do here:</p>
    <ul>
        <li>view parking info (times you parked in some parking).</li>
        <li>View invoices.</li>
        <li>View invoices details.</li>
        <li>Generate invoice for parked items.</li>
    </ul>
    <hr />
    <p>For testing you can:</p>
    <p>Switch between 2 pre-inserted customers at the top rigth corner.</p>
    <ul>
        <li>Regular customer</li>
        <li>Premium customer</li>
    </ul>
    <p>Insert parked item for the selected customer at top right corner 'Insert'.</p>
</div>